<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Path to the current episode's Json file -->
    <add key="episodeJsonFilePath" value=".\digest.json" />
    
    <!-- Path to the episodes' cache folder -->
    <add key="episodesCacheFolder" value=".\Episodes\" />
    
    <!-- Format of file names in the cache folder -->
    <add key="episodeFileNameFormat" value="episode-{0}.json" />
    <!-- Format of blog posts Url -->
    <add key="blogPostUrlFormat" value="https://belarussharepoint.wordpress.com/newsletter-episode-{0}/" />
    <!-- Number of the first episode for loading -->
    <add key="firstEpisodeNumber" value="45" />
    
    <!-- List of links to ignore when looking for duplicates. List is separated by semicolon. -->
    <add key="filterLinks" value="https://belarussharepoint.wordpress.com/; http://tinyletter.com; http://tinyletter.com/belarussharepoint; https://wordpress.com; https://www.linkedin.com/in/; http://www.linkedin.com/in/; http://www.linkedin.com/pub/; https://www.linkedin.com/pub/; http://on.fb.me/1q1Amrn; https://gravatar.com/site/signup;" />
  </appSettings>
</configuration>